<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body class="container min-vh-100">
    <header><%- include('./partials/header'); %></header>
    <main class="container">
        <div class="row">
            <div class="col-12">
                <%- include('./partials/forms/products'); %>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <%- include('./partials/lists/products'); %>
            </div>
        </div>
    </main>
    <footer class="aling-bottom"><% -include('./partials/footer'); %></footer>
</body>
</html>