include layouts/main.pug
div(class='row')
    div(class='col-6 mx-auto')
        a(href='/')
        button(type='button' class='btn btn-primary mb-3') Homepage
        div(class='col')

        if hasContent
            table(class='table')
            thead
                tr
                th(scope='col') #
                th(scope='col') Title
                th(scope='col') Price
                th(scope='col') Image
            tbody(id='table-content')
                each product in products
                tr
                    th(scope='row')= product.id
                    td= product.title
                    td= product.price
                    td 
                    a(href= product.thumbnail) Link to the image
        else
            <p>There are no products uploaded yet</p>