<hr />
<div>
    <div class='row'>
        <div class='col-6 mx-auto'>
        <h3>Crear Producto</h3>
        <form
            id='formulario-crear-producto'
            action='/api/products'
            method='POST'
        >
            <div class='mb-3'>
            <label for='title' class='form-label'>Title</label>
            <input
                type='text'
                class='form-control'
                id='title'
                name='title'
                placeholder='Enter the title of the article'
            />
            </div>
            <div class='mb-3'>
            <label for='price' class='form-label'>Price</label>
            <div class='input-group mb-3'>
                <span class='input-group-text'>$</span>
                <input
                name='price'
                type='number'
                class='form-control'
                aria-label='Price'
                />
            </div>
            </div>
            <div class='mb-3'>
            <label for='thumbnail' class='form-label'>URL Image</label>
            <input
                type='text'
                class='form-control'
                id='thumbnail'
                name='thumbnail'
                placeholder='Enter the url of the image'
            />
            </div>
            <div class='col-auto d-flex justify-content-between'>
            <button type='submit' class='btn btn-primary mb-3'>
                Save
            </button>
            <a href='/products'>
                <button type='button' class='btn btn-primary mb-3'>
                View products
                </button>
            </a>
            </div>
        </form>
        </div>
    </div>
</div>